<!DOCTYPE html>
{% extends 'Dashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Category</title>
</head>
<body>
<div class="container">
  <div class="page-inner">
    <h3 class="fw-bold mb-3">Edit Category</h3>

    <form method="POST" action="{% url 'updatecategory' cid=data.id%}" enctype="multipart/form-data" class="card p-4 shadow">
      {% csrf_token %}

      <!-- Category Name -->
      <div class="mb-3">
        <label class="form-label">Category Name</label>
        <input type="text" name="categoryname" class="form-control" value="{{data.Category_Name}}" >
      </div>

      <!-- Description -->
      <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea name="description" class="form-control" rows="4" >{{data.Description}}</textarea>
      </div>

      <!-- Image -->
      <div class="mb-3">
        <label class="form-label">Category Image</label>
        <img src="{{data.Image.url}}" alt="">
        <input type="file" name="image" class="form-control">
      </div>

      <!-- Status -->
      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" name="isactive" {% if data.is_active %} checked {% endif %} >
        <label class="form-check-label">Active</label>
      </div>

      <!-- Buttons -->
      <div>
        <button type="submit" class="btn btn-primary">Update</button>

      </div>

    </form>
  </div>
</div>





<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
    {% for i in messages %}

        {% if i.tags == 'success' %}
            <script>
                swal('{{ i }}', '','success')
            </script>

        {% elif i.tags == 'warning' %}
            <script>
                swal('{{ i }}', '','warning')
            </script>

        {% elif i.tags == 'error' %}
            <script>
                swal('{{ i }}', '','error')
            </script>

        {% elif i.tags == 'info' %}
            <script>
                swal('{{ i }}', '','info')
            </script>

        {% endif %}
    {% endfor %}
{% endif %}
</body>
{% endblock %}
</html>